<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot React Example</title>
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/static/section/css/main.css}" th:unless="${@reactProperties.useReactBundle}">
</head>
<body>
<div id="section-home">
</div>
<script th:src="@{/static/js/bundle.js}" th:if="${@reactProperties.useReactBundle}"></script>
<script defer th:src="@{/static/section/js/main.js}" th:unless="${@reactProperties.useReactBundle}"></script>
</body>
</html>